Jesusaves <jesusalva@themanaworld.org> Jesusaves <cpntb1@ymail.com>
Jesusaves <jesusalva@themanaworld.org> Jonatas L. Nogueira <cpntb1@ymail.com>
Alige <aligetmw@hotmail.fr> Alige <gauvain.dauchy@free.fr>
Alige <aligetmw@hotmail.fr> Alige <alige@debian>
Reid <reidyaro@gmail.com> Reid Yaro <reidyaro@gmail.com>
Reid <reidyaro@gmail.com> Reid <reid@Chlian>
Reid <reidyaro@gmail.com> Reid Yaro <reid@Julie>
Reid <reidyaro@gmail.com> Reid <reid@IdeaPad.(none)>
gumi <git@gumi.ca> gumi <mekolat@users.noreply.github.com>
Hal9000 <miglietta.francesco@gmail.com> Hal9OOO <miglietta.francesco@gmail.com>
Hal9000 <miglietta.francesco@gmail.com> Hal9OOO (Francesco Miglietta) <miglietta.francesco@gmail.com>
Hal9000 <miglietta.francesco@gmail.com> epoc <epoc@hal9000.(none)>
Hal9000 <miglietta.francesco@gmail.com> <epoc@halthink.(none)>
Micksha <ms-shaman@gmx.de> Micksha <Micksha@users.noreply.github.com>
omatt <m.vuoso@laposte.net> omattornot <m.vuoso@laposte.net>
omatt <m.vuoso@laposte.net> omatt <m.vuoso@laposte.net>
gumi <git@gumi.ca> mekolat <mekolat@users.noreply.github.com>
wushin <pasekei@gmail.com> Wushin <pasekei@gmail.com>
Monwarez <monwarez@gmail.com> Thibault Payet <monwarez@gmail.com>
Monwarez <monwarez@gmail.com> User Monwarez <monwarez@gmail.com>
Vasily_Makarov <danilka.pro@gmail.com> Dan Sagunov <danilka.pro@gmail.com>
Vasily_Makarov <danilka.pro@gmail.com> Dan Sagunov <dan@archdemon.(none)>
Vasily_Makarov <danilka.pro@gmail.com> dan <dan@dan-P41-ES3G.(none)>
Vasily_Makarov <danilka.pro@gmail.com> Vasily <danilka.pro@gmail.com>
Akko Teru <none@null.nil> Teru <9bi at [comc]ast dot net>
jak1 <jak1@germantmw.de> jak1 <jak89_1@ftb4u.de>
Kurt Kuschinski <hocus@themanaworld.org> Hocus <hocus@themanaworld.org>
Kurt Kuschinski <hocus@themanaworld.org> Kurt Kuschinski <kurt.kuschinski@gmail.com>
Saweres <onshine20@gmail.com> root <root@saweres.localdomain>
Mikko <mikko.devel@gmail.com> Mikko <mikko@debian>
Ledmitz <ledmitz@gmail.com> Ledmitz <smoothshifter@tuta.io>

