[Desktop Entry]
Encoding=UTF-8
Name=Lien vers 001-2-20.tmx
Type=Link
URL=https://gitlab.com/TMW2/clientdata/blob/master/maps/001-2-20.tmx
Icon=text-html
